§{% extends 'base.html' %}
{% load static from staticfiles %}

{% block headcontent %}

    <center>
        <h4>Hours</h4>
    </center>

{% endblock %}

{% block content %}

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            <form class="site-from" action=" {% url 'payments:hours' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="add">
            </form>

            <!-- END MYBLOCK -->

        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->


            <p class="panel-subtitle"><u>Month hours table</u></p>

            <table style="width:100%">
              <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Work hours</th>
                <th>Vacation hours</th>
              </tr>

            {% for month in hours %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ month.date }}</td>
                <td>{{ month.work_hours }}</td>
                <td>{{ month.vacation_hours }}</td>
              </tr>
            {% endfor %}
            </table>


            <!-- END MYBLOCK -->

        </div>
    </div>




{% endblock %}