§{% extends 'base.html' %}
{% load static from staticfiles %}

{% block headcontent %}

    <center>
        <h4>Hours</h4>
    </center>

{% endblock %}

{% block content %}

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            form

            <!-- END MYBLOCK -->

        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            table

            <!-- END MYBLOCK -->

        </div>
    </div>




{% endblock %}