{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            <h3 class="panel-title">Tasks</h3>

            <form class="site-form" action="{% url 'payments:tasks' %}" method="post" id="Reset">
           {% csrf_token %}
            <button type="submit" form="Reset" name="Reset" value="True">
                <i class="lnr lnr-trash" style="color:red">Reset tasks</i>
            </button>

            <button type="submit" form="Reset" name="UpDate" value="True">
                <i class="lnr lnr-magic-wand" style="color:red">UpDate</i>
            </button>

            </form>

            <br>

            <div class="alert-success">
                fsfdsfsdf
            </div>
            <div class="alert-danger">
                fsfdsfsdf
            </div>

            <!-- END MYBLOCK -->

        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            <p class="panel-subtitle"><u>Actual tasks table</u></p>

            <table style="width:100%">
              <tr>
                <th>No.</th>
                <th>Done</th>
                <th>Task</th>
                <th>Deadline</th>
              </tr>


            <form class="site-form" action="{% url 'payments:tasks' %}" method="post" id="GetDone">
            {% for task in tasks %}
            {% csrf_token   %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if task.done %}
                        <span class="lnr lnr-checkmark-circle" style="color:green"></span>
                    {% else %}
                        <button type="submit" form="GetDone" name="Done" value="{{ task.id }}">
                            <i class="lnr lnr-cross-circle" style="color:red"></i>
                        </button>
                    {% endif %}
                </td>
                <td>{{ task.name}}</td>
                <td>{{ task.deadline }}</td>
              </tr>

            {% endfor %}
            </form>
            </table>

            <!-- END MYBLOCK -->

        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-heading">

            <!-- MYBLOCK -->

            <form class="site-from" action=" {% url 'payments:tasks' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="create">
            </form>

            <!-- END MYBLOCK -->

        </div>
    </div>

{% endblock %}